<!doctype html>
<html lang="en" class="h-100">


<head>
    <title>EchoNote - Audio Transcriber</title>
    <%- include('partials/head') %>
</head>

<body class="d-flex flex-column h-100">

    <%- include('partials/nav'); %>


        <div class="bg-body-tertiary p-4">
            <div class="d-flex">
                <h1 class="flex-grow-1 px-5 mx-5">My Images</h1>
                <form class="flex-row mx-5 my-2">
                    <div class="input-group mb-3 w-100">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Search Tags:</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                            name="tag">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="d-flex flex-wrap justify-content-start mx-3 p-5">

                <form class="p-2 m-2 border border-dark rounded image-box" method="post" enctype="multipart/form-data">

                    <div class="text-center m-auto p-3 mt-3">
                        <h2>
                            Add New Photo
                        </h2>
                        <div class="border-2">
                            <label for="formFile" class="form-label"></label>
                            <input class="form-control" type="file" id="formFile" name="image">
                        </div>
                        <button class="btn btn-primary py-3 mt-5" type="submit">Upload</button>

                    </div>

                </form>

                <% 
                
                for(var i=0; i < photos.length; i++) {
                     %>
                    <div class="p-2 m-2 border border-dark rounded image-box" id="image-box-<%- i %>">
                    </div>
                        <script>
                            // Fetch the image from your server
                            fetch('/image?src=<%- photos[i].url %>')
                                .then(response => response.blob()) 
                                .then(imageBlob => {
                                   
                                    const imageUrl = URL.createObjectURL(imageBlob);
                                    const imgElement = document.createElement('img');
                                    imgElement.style.width = "100%";
                                    imgElement.src = imageUrl;
                    
                                    // Find the div container and append the image to it
                                    const imageContainer = document.getElementById('image-box-<%- i %>');
                                    imageContainer.appendChild(imgElement);
                                })
                                .catch(error => {
                                    console.error('Error fetching the image:', error);
                                });
                        </script>

                
                    <% } %>
                        </table>

            </div>

        </div>







        <%- include('partials/footer'); %>
            <script defer="" src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>
</body>

</html>